* {
	color: white;
	font-family: sans-serif;
}

body {
	background: rgb(32, 32, 32);
	text-align: center;
}

.image {
	width: 25px;
	height: 25px;
	filter: invert(100%); /*Inverte as cores da imagem, baseado na porcentagem*/
}

img[src="images/swap.png"] {
	transform: rotate(90deg);
}

.form {
	resize: none;
	width: 97%;
	height: 41%;
	border-radius: 5px;
	background: rgb(50, 50, 50);
	border: none;
	margin-bottom: 5px;
	padding: 5px;
}

.button {
	background: rgb(130, 87, 230);
	border-radius: 5px;
	font-size: 15px;
	margin-top: 3px;
	width: 32.5%;
	height: 10%;
	display: inline-block;
	border: none;
	transition-duration: 0.2s; /* tempo de duração da transição  */
	font-size: 20px;
}

.button:focus, .button:hover {
	border: 1px solid rgb(60, 60, 60);
	background: rgb(130, 85, 220);
}

#bintotext {
	border-radius: 5px;
	position: absolute;
	left: 22%;
	top: 5%;
}

#content, #bintotext {
	width: 750px;
	height: 580px;
}
